#bg
{
    background-color: blanchedalmond;
}
#image
{
    border-style: dashed;
    border-color: maroon;
}
#heading
{
    padding-left: 10px;
    letter-spacing: 5px;
font-size: 50px;
color: darkslategray;
font-family: 'Oswald', sans-serif;
}
#note
{
    color: rgb(71, 80, 82);
    font-size: 20px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
#header
{
    background-color: aquamarine;
}
#butn
{
    margin-top: 25px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    border-style: ridge;
    border-width: 5px;
    font-family: 'Share', cursive;
    font-size: 20px;
    letter-spacing: 1px;
}
#foot
{
    
    background-color: coral;
    position: fixed;
    width: 3000px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: whitesmoke;
    padding-left: 15px;
    padding-top: 15px;
    line-height: 25px;
    letter-spacing: 1px;
}